---
import Main from '../layouts/main.astro';
---

<Main>
  <section id="about">
  

    <div class="flex flex-col md:flex-row pt-3 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
        <h1 class="justify-end text-4xl sm:text-6xl mb-4">About Synfig Studio 2D animation Hackathon</h1>
      </div>
      </div>
      <div class="w-1/2">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/UXk_v_sukGU?si=tVK_d4-posQa-RvW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    
    <!-- conten -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
      
        <p class="text-justify text-2xl nunito-sans-text">FOSSEE, IIT Bombay in association with Whistling Woods International is hosting an online Synfig Studio 2D Animation Hackathon. Synfig Studio is a cross-platform free and open source vector-based 2D animation software which is designed to produce film-quality animation with minimum resources. So get started, avail this opportunity to upgrade your skills and enhance your career. 
          We welcome newbies and veterans- from high school students to professionals and FLOSS enthusiasts to take part in this Hackathon.
           </p>
      </div>
    </div>
</section>
</Main>
