---
import Main from '../layouts/main.astro';
---

<Main>
 <section>
    <!-- First Row -->
    <div class="bg-blue-500 p-4 text-white">
      <!-- Your content for the first row goes here -->
      <p>Partners </p>
  </div>

  <!-- Second Row (Footer) -->
 
  </section>

</Main>
<footer class=" fixed bottom-0 right-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  <div class="w-full bg-gray-800 text-white p-4">
    <!-- Three Columns in the Footer -->
    

<div class="w-full flex sm:flex-row flex-row mb-4">
  <div class="w-1/4"></div>
  
  <div class="w-1/4">
      <!-- First Column Content -->
      <h1 class="section-title">Contact us</h1>
      <div class="container flex items-center justify-center">
        <a href="mailto:info@fossee.in">info@fossee.in</a>&nbsp; | &nbsp;<a href="mailto:contact-focal@fossee.in">contact-focal@fossee.in</a>
          </div>
  </div>
  <div class="w-1/4">
      <!-- Second Column Content -->
      <ul class="list-unstyled text-small">
        <li><a class="text-gray-700" href="https://fossee.in" target="_blank">FOSSEE</a></li>
        <li><a class="text-gray-700" href="https://focal.fossee.in/" target="_blank">Focal</a></li>
        <li><a class="text-gray-700" href="https://spoken-tutorial.org" target="_blank">Spoken Tutorial</a></li>
     </ul>
  </div>
  <div class="w-1/4">
      <!-- Third Column Content -->
      <ul class="list-unstyled text-small">
        <li><a class="text-gray-700" href="https://www.synfig.org/" target="_blank">Synfig.org</a></li>
        <li><a class="text-gray-7 00" href="https://spoken-tutorial.org" target="_blank">Spoken Tutorial</a></li>
        <li><a class="text-gray-700" href="https://discuss.fossee.in/" target="_blank">Fossee Forum</a></li>
        <li><a class="text-gray-700" href="https://forums.spoken-tutorial.org" target="_blank">Spoken Tutorial Forum</a></li>
     </ul>
  </div>
</div>

<!-- Centered Text in the Footer -->
<div class="text-center">
  <p>Centered Text in the Footer</p>
</div>
</div>
</main>
</footer>


  <!-- <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contact</a>
      </li>
  </ul>
 -->
