---
import Main from '../layouts/main.astro';
---

<Main>
 <section>
    <!-- First Row -->
    <div class="bg-blue-500 p-4 text-white">
      <!-- Your content for the first row goes here -->
      <p>This is the first row content.</p>
  </div>

  <!-- Second Row (Footer) -->
  <div class="bottom-0 bg-gray-800 text-white p-4">
      <!-- Three Columns in the Footer -->
      
  </div>
  </section>

</Main>
<main class="lg:pl-[30rem] ">
<div class="flex sm:flex-row flex-col mb-4">
  <div class="w-1/3">
      <!-- First Column Content -->
      <h1 class="section-title">Contact us</h1>
      <div class="container flex items-center justify-center">
        <a href="mailto:info@fossee.in">info@fossee.in</a>&nbsp; | &nbsp;<a href="mailto:contact-focal@fossee.in">contact-focal@fossee.in</a>
          </div>
  </div>
  <div class="w-1/3">
      <!-- Second Column Content -->
      <ul class="list-unstyled text-small">
        <li><a class="text-gray-700" href="https://fossee.in" target="_blank">FOSSEE</a></li>
        <li><a class="text-gray-700" href="https://focal.fossee.in/" target="_blank">Focal</a></li>
        <li><a class="text-gray-700" href="https://spoken-tutorial.org" target="_blank">Spoken Tutorial</a></li>
     </ul>
  </div>
  <div class="w-1/3">
      <!-- Third Column Content -->
      <ul class="list-unstyled text-small">
        <li><a class="text-gray-700" href="https://www.synfig.org/" target="_blank">Synfig.org</a></li>
        <li><a class="text-gray-7 00" href="https://spoken-tutorial.org" target="_blank">Spoken Tutorial</a></li>
        <li><a class="text-gray-700" href="https://discuss.fossee.in/" target="_blank">Fossee Forum</a></li>
        <li><a class="text-gray-700" href="https://forums.spoken-tutorial.org" target="_blank">Spoken Tutorial Forum</a></li>
     </ul>
  </div>
</div>

<!-- Centered Text in the Footer -->
<div class="text-center">
  <p>Centered Text in the Footer</p>
</div>
</main>