---
import Main from '../layouts/main.astro';
import eligibility from '../images/eligibility.png';
import { slide } from 'astro:transitions';
import fossee from '../images/FOSSEE.png';
import iitb from '../images/IITB.png';
import focal from '../images/focal.png';
import spoken from '../images/spoken.png';

---

<Main>
    <section id="partner">
        <div class="">
            <h1 class="justify-end text-4xl mb-4">Partners</h1>
          </div>
        <!-- First Row -->
        <div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
          <!-- Your content for the first row goes here -->
          <!-- <p>Partners </p> -->
          <ul class="inline-grid gap-4 grid-cols-4">
            <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
              <img class="hover:opacity-100 opacity-75 hover:shadow-none shadow-md shadow-cyan-500/50" src={iitb.src} alt="regi" decoding="async" />
              <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
          
              
            </a></li>
            <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="hover:opacity-100 opacity-75 hover:shadow-none shadow-md shadow-cyan-500/50" src={fossee.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
              <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="hover:opacity-100 opacity-75 hover:shadow-none shadow-md shadow-cyan-500/50" src={spoken.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
              <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="hover:opacity-100 opacity-75 hover:shadow-none shadow-md shadow-cyan-500/50" src={focal.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
          </ul>


      </div>
    
      <!-- Second Row (Footer) -->
     
      </section>
    </Main>