---
import Main from '../layouts/main.astro';
import eligibility from '../images/eligibility.png';
import { slide } from 'astro:transitions';
import fossee from '../images/FOSSEE.png';
import iitb from '../images/IITB.png';
import focal from '../images/focal.png';
import spoken from '../images/spoken.png';

---

<Main>
    <section id="partner">
        <div class="flex items-center justify-center">
            <h1 class="justify-end text-4xl mb-4">Partners</h1>
          </div>
        <!-- First Row -->
        <div class="border-4 border-[#1f2937] rounded-t-[18px] border-b-[23px] rounded-b-lg p-4 text-white" style="border: ;">
          <!-- Your content for the first row goes here -->
          <!-- <p>Partners </p> -->
          <ul class="flex gap-4 grid-cols-4 items-center justify-center content-center">
            <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
              <img class="logos" src={iitb.src} alt="regi" decoding="async" />
              <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
          
              
            </a></li>
            <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="logos" src={fossee.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
              <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="logos" src={spoken.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
              <li class="text-red-300"><a href="/register" class="flex-1 border-indigo-600 items-center justify-center rounded-md overflow-hidden">
        
                <img class="logos" src={focal.src} alt="regi" decoding="async" />
                <!-- <img src="../images/register.png" alt="Image 1" class="w-1/4 w-25"> -->
            
                
              </a></li>
          </ul>


      </div>
    
      <!-- Second Row (Footer) -->
     
      </section>
      <style>
        .logos {
  max-width: 100%;
  height: 53.8px;
}
@media(max-width:998px){
  .logos {
    max-width: 100%;
    height: auto;
  }
}
      </style>
    </Main>