---
import Main from '../layouts/main.astro';
import resources from '../images/resources.png'
---

<Main>
  
  <section id="about">
  

    <div class="flex flex-col md:flex-row pt-3 mt-3">
      <!-- heading on bottom of div -->
      <div class="w-1/2 relative min-h-full">
        <div class="md:absolute bottom-0">
        <h1 class="justify-end text-6xl mb-4">Some Helpful Resources for Hackathon:</h1>
      </div>
      </div>
      <div class="w-1/2">
        <img  src={resources.src} alt="Resources list" decoding="async" />
      </div>
    </div>
    
    <!-- conten -->
    <div class="mt-4">
      <div class="pt-4 leading-normal sm:leading-loose">
      
        <div class="text-justify text-2xl nunito-sans-text"><ul style="list-style:disc;">
          <li class="mb-2">Self learn Synfig Studio using <span class="text-blue-800"><a href="https://spoken-tutorial.org/" target="_blank">Spoken Tutorials</a></span>. These are available in English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu.</li>
          <li class="mb-2">For making the animation, if you want to create graphics, record audio, etc., you can use some other software. But as there is a requirement to strictly use Open Source Software in this hackathon, you can use <span class="text-blue-800">GIMP, Audacity, Inkscape, Openshot video editor</span> etc. for the same. You can self learn these software using the Spoken Tutorials which are freely available. These are available in <span class="text-blue-800">English, Hindi, Kannada, Marathi, Malayalam, Tamil and Telugu</span>.</li>
          <li class="mb-2">For help in installing Synfig Studio, please <a href="">click here</a>.</li>
          <li class="mb-2">Refer graphics from our <span class="text-blue-800">FOCAL (free and open source creative art library)</span> repository.</li>
            </ul>
          </div>
      </div>
    </div>
</section>
</Main>
